.discord-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #5865F2;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

form input, textarea {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  background: gold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s;
}

.fade.show {
  opacity: 1;
  transform: translateY(0);
}